include LICENSE
include README.md
include CITATION.cff
include CHANGELOG.md
include CONTRIBUTING.md
recursive-include src/stsckm/data *.csv
recursive-include docs *.rst *.py
recursive-include examples *.py
recursive-include replication *.py *.csv *.md *.txt
recursive-include .github *.yml *.yaml
prune replication/output
